In [ ]:
"""
Which passenger had the highest fare paid relative to their age?
"""

import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/DataSets/Titanic-Dataset.csv')

"""Add a column to the Titanic dataset, fare per year, containing the fare divided by the age of
the passenger(i.e., Fare/Age)."""

df['fare_per_year'] = df['Fare'] / df['Age']

"""2. Subset rows where fare per year is higher than 5, assigning this to high fare age. """
high_fare_age = df[df['fare_per_year'] > 5]

"""Sort high fare age by descending fare per year, assigning this to high fare age srt."""

high_fare_age_srt = high_fare_age.sort_values(by='fare_per_year', ascending=False)
"""4. Select only the Name and fare per year columns of high fare age srt and save the result as result."""

result = high_fare_age_srt[['Name', 'fare_per_year']]
print(result)

                                       Name  fare_per_year
305          Allison, Master. Hudson Trevor     164.728261
297            Allison, Miss. Helen Loraine      75.775000
386         Goodwin, Master. Sidney Leonard      46.900000
164            Panula, Master. Eino Viljami      39.687500
183               Becker, Master. Richard F      39.000000
..                                      ...            ...
318                Wick, Miss. Mary Natalie       5.318281
348  Coutts, Master. William Loch "William"       5.300000
205              Strom, Miss. Telma Matilda       5.231250
813      Andersson, Miss. Ebba Iris Alfrida       5.212500
480          Goodwin, Master. Harold Victor       5.211111

[68 rows x 2 columns]

In [3]:
"""
Which adult male passenger (age ≥ 18 and Sex is ’male’) paid the highest fare relative to their
class?
"""
import pandas as pd

# Load the Titanic dataset
df = pd.read_csv('/content/drive/MyDrive/DataSets/Titanic-Dataset.csv')

# 1. Add a column to the Titanic dataset, fare per class, containing the fare divided by the passenger class (Fare / Pclass).
df['fare_per_class'] = df['Fare'] / df['Pclass']

# 2. Subset rows where the passenger is male (Sex is 'male') and an adult (Age is greater than or equal to 18), assigning this to adult males.
adult_males = df[(df['Sex'] == 'male') & (df['Age'] >= 18)]

# 3. Sort adult males by descending fare per class, assigning this to adult males sorted.
adult_males_srt = adult_males.sort_values(by='fare_per_class', ascending=False)

# 4. Select only the Name, Age, and fare per class columns of adult males sorted and save the result as result.
result = adult_males_srt[['Name', 'Age', 'fare_per_class']]

# 5. Look at the result
print(result.head())

                                   Name   Age  fare_per_class
737              Lesurer, Mr. Gustave J  35.0        512.3292
679  Cardeza, Mr. Thomas Drake Martinez  36.0        512.3292
27       Fortune, Mr. Charles Alexander  19.0        263.0000
438                   Fortune, Mr. Mark  64.0        263.0000
118            Baxter, Mr. Quigg Edmond  24.0        247.5208

In [ ]:
"""
What percent of the total fare revenue came from each passenger class?
"""
import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/DataSets/Titanic-Dataset.csv')

# Calculate the total Fare paid across all passengers in the Titanic dataset.
total_fare = df['Fare'].sum()

# Subset for passengers in each class and calculate their total fare.
first_class_fare = df[df['Pclass'] == 1]['Fare'].sum()
second_class_fare = df[df['Pclass'] == 2]['Fare'].sum()
third_class_fare = df[df['Pclass'] == 3]['Fare'].sum()

# Combine the fare totals from first, second, and third classes into a list.
fare_totals = [first_class_fare, second_class_fare, third_class_fare]

# Calculate the percentage of fare revenue from each class.
fare_percentages = [(fare / total_fare) * 100 for fare in fare_totals]

# Print the results.
class_labels = ['First Class', 'Second Class', 'Third Class']
for cls, percent in zip(class_labels, fare_percentages):
    print(f"{cls}: {percent:.2f}% of total fare revenue")

First Class: 63.35% of total fare revenue
Second Class: 13.25% of total fare revenue
Third Class: 23.40% of total fare revenue

In [ ]:
"""
What percent of the total number of passengers on the Titanic belonged to each age group
(e.g., child, adult, senior)?
"""
import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/DataSets/Titanic-Dataset.csv')

# Create a new column, age group, categorizing passengers into "child", "adult", and "senior".
def categorize_age(age):
    if pd.isna(age):
        return 'unknown'
    elif age < 18:
        return 'child'
    elif age < 65:
        return 'adult'
    else:
        return 'senior'

df['age_group'] = df['Age'].apply(categorize_age)

# Calculate the total number of passengers on the Titanic.
total_passengers = len(df)

# Count the number of passengers in each age group.
age_group_counts = df['age_group'].value_counts()

# Calculate the proportion of passengers in each age group
age_group_percentages = (age_group_counts / total_passengers) * 100

# Display the results as percent
for group, percentage in age_group_percentages.items():
    print(f"{group.capitalize()}: {percentage:.2f}%")

Adult: 66.22%
Unknown: 19.87%
Child: 12.68%
Senior: 1.23%